body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Regular';
}

#navigation {
  padding: 0;
}

.topbar {
  background-color: #e23636;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.topbar h3 {
  color: #fff;
}

.social-top li {
  margin-right: 20px;
}

.social-top li a {
  color: #fff;
}

.hero-section {
  min-height: 140px;
}
