.pb0 {
  padding-bottom: 0;
}

.button {
  font-size: 1em;
}

.head figure img {
  border-radius: 0;
}

.topbar {
  padding: 10px 0;
}

.social-top li:last-child {
  margin-right: 0;
}

#nav-menu .navbar-start {
  margin: 0 auto;
}

#nav-menu .navbar-item.has-dropdown {
  padding: 0;
}

#nav-menu .navbar-item, #nav-menu .navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 4;
  padding: 0.5rem 2rem;
  position: relative;
}

#nav-menu .navbar-link {
  padding-right: 3.4em;
}

#nav-menu .navbar-link:after {
  right: 1.8em;
}

#main {
  margin-bottom: 4em;
  padding: 0;
  padding-left: 0.75rem;
}

.input {
  height: 1.8em;
}

.input:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ad-banner {
  border-top: 3px solid #343840;
}

#sidebar {
  padding: 10px;
  background-color: #343840;
}

#sidebar .ad-banner, .ad-banner {
  border-radius: 0;
  background-color: #e23636;
}

#sidebar .ad-banner p, .ad-banner p {
  color: #c9c9c9;
}

#sidebar .ad-banner h4, .ad-banner h4 {
  color: #eee;
}
