@import "var.scss";





body {
    background-color: #f9f9f9;
}

.pb0 {
    padding-bottom: 0;
}

.p0 {
    padding: 0 !important;
}

.button {
    font-size: 1em;
}

.head figure img {
    border-radius: 0;
}

.is-transparent {
    background-color: transparent !important;
}

.container {
    padding: 20px;
    background-color: #fff;
}





.navbar.is-light .navbar-start .navbar-link::after, .navbar.is-light .navbar-end .navbar-link::after {
    border-color: $red;
}



.topbar {
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    background-color: #e23636;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-section {
    min-height: 180px;
    padding-top: 30px;
}

.social-top {
    li {
        &:last-child {
            margin-right: 0;
        }
    }
}

.navbar.is-light {
    background-color: transparent;
    .navbar-burger {
        background-color: $red;
        border: none;
        span {
            background-color: #fff;
        }
    }
}

#nav-menu {
    .navbar-start {
        margin: 0 auto;
        border: 1px solid $red;
    }
    .navbar-item {
        border-right: 1px solid $red;
        &:last-child {
            border-right: none;
        }
        &.has-dropdown {
            padding: 0;
        }
    }
    .navbar-item, .navbar-link {
        color: #999;
        display: block;
        line-height: 4;
        padding: 0.5rem 2rem;
        position: relative;
    }
    .navbar-link {
        padding-right: 3.4em;
        &.is-active {
            background-color: $red;
            color: #fff;
            &:after {
                right: 1.8em;
                border-color: #fff;
            }
        }
    }
    .navbar-dropdown {
        padding: 0;
    }
}

#main-content {
    padding-top: 0;
    .columns {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        margin-top: -0.75rem;
        &:last-child {
            margin-bottom: -1.25rem;
        }
    }
}


#main {
    margin-bottom: 4em;
    padding: 0;
    > div {
        padding-right: 20px;
        padding-left: 20px;
    }
    > .ad-banner {
        padding-right: 0;
        padding-left: 0;
    }
}

.input {
    height: 1.8em;
    &:focus {
        border: none;
        box-shadow: none;
    }
}

.ad-banner {
    border-top: 3px solid $darkBlue;
}

#sidebar {
    padding: 10px;
    background-color: $darkBlue;
}

#sidebar .ad-banner, .ad-banner {
    border-radius: 0;
    background-color: $red;
    p {
        color: $grey;
    }
    h4 {
        color: #eee;
    }
}



.features {
    border-radius: 0;
}




.footer {
    background-color: #a71a1a;
    .site-links {
        margin-bottom: 3rem;
        li {
            margin-bottom: 5px;
        }
    }

}







@media screen and (max-width: 414px) {

    .topbar > .container {
        padding: 5px 20px !important;
    }

    .hero-section {
        min-height: 180px;
        padding-top: 30px;
        margin-top: 7em;
    }

    .section {
        padding: 1em 0;
    }

    .media {
        flex-direction: column;
        > * {
            width: 100%;
        }
        .media-left {
            margin-bottom: 1em;
        }
    }

    .head figure img {
        width: 100%;
    }

    .footer .bottom-bar {
        text-align: center;
    }

    .site-links .level-item, .site-links .level-item:last-child {
        text-align: center;
        justify-content: center;
    }
}
