body {
  background-color: #f9f9f9;
}

.pb0 {
  padding-bottom: 0;
}

.p0 {
  padding: 0 !important;
}

.button {
  font-size: 1em;
}

.head figure img {
  border-radius: 0;
}

.container {
  padding: 20px;
  background-color: #fff;
}

.is-transparent {
  background-color: transparent !important;
}

.navbar.is-light .navbar-start .navbar-link::after, .navbar.is-light .navbar-end .navbar-link::after {
  border-color: #e23636;
}

.topbar {
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  background-color: #e23636;
  padding: 5px 15px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-section {
  min-height: 180px;
  padding-top: 30px;
}

.social-top li:last-child {
  margin-right: 0;
}

.navbar.is-light {
  background-color: transparent;
}

#nav-menu .navbar-start {
  margin: 0 auto;
  border: 1px solid #e23636;
}

#nav-menu .navbar-item {
  border-right: 1px solid #e23636;
}

#nav-menu .navbar-item:last-child {
  border-right: none;
}

#nav-menu .navbar-item.has-dropdown {
  padding: 0;
}

#nav-menu .navbar-item, #nav-menu .navbar-link {
  color: #999;
  display: block;
  line-height: 4;
  padding: 0.5rem 2rem;
  position: relative;
}

#nav-menu .navbar-link {
  padding-right: 3.4em;
}

#nav-menu .navbar-link.is-active {
  background-color: #e23636;
  color: #fff;
}

#nav-menu .navbar-link.is-active:after {
  right: 1.8em;
  border-color: #fff;
}

#nav-menu .navbar-dropdown {
  padding: 0;
}

#main-content {
  padding-top: 0;
}

#main {
  margin-bottom: 4em;
  padding: 0;
  padding-left: 0.75rem;
}

#main > div {
  padding-right: 20px;
}

#main > .ad-banner {
  padding-right: 0;
}

.input {
  height: 1.8em;
}

.input:focus {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ad-banner {
  border-top: 3px solid #343840;
}

#sidebar {
  padding: 10px;
  background-color: #343840;
}

#sidebar .ad-banner, .ad-banner {
  border-radius: 0;
  background-color: #e23636;
}

#sidebar .ad-banner p, .ad-banner p {
  color: #c9c9c9;
}

#sidebar .ad-banner h4, .ad-banner h4 {
  color: #eee;
}

.features {
  border-radius: 0;
}
